.DS_Store
.idea
.coverage
.ipynb_checkpoints
*.ipynb
*.pyc
*.gz
*.pdf
*stats*
*.html
*.npy
*.pkl
*.npz
*.log
lcmlog*
.aider*
.vscode/
RL_data/
ptc_data/
ablation_data/
test_data/
*_log.json
*_log.json.bak
